.container{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-bottom: 10px;
    width: 40rem;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #3c000d;
    font-size: 2rem;
    font-weight: 5rem;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap:25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 45px;
    background: #eaeaea;
    border-radius: 6px;
}


.label{
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}


.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    padding-left: 2rem;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit-container{
    display: flex;
    gap:30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    color: #fff;
    background: #2F4050;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    z-index: 9999;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .submit-attribute{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 40px;
    color: #fff;
    background: #2F4050;
    border-radius: 20px;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
  }

  .container-attribute{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-bottom: 10px;
    width: 50rem;
}

  .inputs-attribute{
        margin-top: 55px;
        margin-left: -188px;
        display: flex;
        flex-direction: column;
        gap: 25px;

    
  }