<!DOCTYPE html>
<html>
<head>
  <title>Algolia Set Up</title>
  <style>
    body {
      font-family: sans-serif;
    }

    .container {
      width: 500px;
      margin: 0 auto;
    }

    h1 {
      text-align: center;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }

    button {
      width: 105%;
      background-color: #000;
      color: #fff;
      padding: 10px;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Algolia Set Up</h1>

    <form action="#">
      <input type="text" name="applicationId" placeholder="Enter your application ID">
      <input type="text" name="apiKey" placeholder="Enter your admin key">
      <input type="text" name="indexName" placeholder="Enter your index name">
      <div></div>
      <button type="submit">Index</button>
      <button type="submit">Search</button>
    </form>
  </div>
</body>
</html>